<form action="login" method="POST">
    <h2>Sign in form</h2>
    <div>
        <label>Username</label>
        <input type="text" name="username">
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password">
    </div>

 <!--<p th:if="${param.error != null}" th:text="${param.error}" />

  <p th:if="${param.status != null}" th:text="${param.status}" />-->

  <p th:if="${session.loginAttempts != null}" th:text="${'Login attempts: '+ session.loginAttempts}" />

<button type="submit">Klick on me</button>
</form>